.img_cover {
  display: block;
  width: 40rem;
  margin: 0 auto;
}

.btn_start {
  padding: 0.75rem 1rem;
  margin: 1rem;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

.img_container {
  display: flex;
  justify-content: center;
  margin: 5rem 2rem;
}

.img_players > span {
  display: inline-block;
}

.img_object {
  width: 15rem;
}

.computer,
.player {
  flex-grow: 1;
}
